@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.nav-logo p{
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-size: 28px;
    color: #1A1814;
    letter-spacing: 4px;
}

.navbar{
    padding: 16px 0;
    box-shadow: 0 1px 3px -2px black;
}

.navbar .container{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #4A4640;
}

.nav-menu li{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.nav-menu li a{
    color: #4A4640;
    text-decoration: none;
}

.nav-menu hr{
    width: 80%;
    height: 2px;
    border: none;
    border-radius: 10px;
    background: #C8A96E;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-login-cart img{
    width: 22px;
}

.nav-login-cart button{
    cursor: pointer;
    width: 120px;
    height: 44px;
    outline: none;
    border: 1px solid #4A4640;
    border-radius: 75px;
    font-weight: 500;
    font-size: 16px;
    color: #4A4640;
    background: white;
}

.nav-login-cart button:active{
    color: white;
    background: #4A4640;
}

.nav-cart-count{
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
    margin-left: -40px;
    border-radius: 11px;
    font-weight: 700;
    font-size: 9px;
    background: #C8A96E;
    color: white;
}